@model Modelo.Pessoas

@{
    ViewBag.Title = "Editar Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon edit"></i><span class="break"></span>Editar Usuário</h2>
            </div>
            <div class="box-content">
                @Html.ValidationSummary(true, "", new { @class = "help-inline" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(e => e.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(e => e.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(n => n.Nome, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(n => n.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(l => l.Login, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(l => l.Login, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Senha, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(s => s.Senha, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-group">
                        @Html.LabelFor(nv => nv.Nivel, "Níveis de Acesso", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="controls">
                            
                            <!--TRATAR RADIOS-->
                            @{
                                if (Model.Nivel == 2)
                                {
                                    <div style="clear:both"></div>
                                    <label class="radio">
                                        <input type="radio" name="Nivel" id="nv1" value="1">
                                        Acesso 1 (Simples)
                                    </label>
                                    <div style="clear:both"></div>
                                    <label class="radio">
                                        <input type="radio" name="Nivel" id="nv2" value="2" checked>
                                        Acesso 2 (Administrativo)
                                    </label>
                                }
                                else
                                {
                                    <div style="clear:both"></div>
                                    <label class="radio">
                                        <input type="radio" name="Nivel" id="nv1" value="1" checked>
                                        Acesso 1 (Simples)
                                    </label>
                                    <div style="clear:both"></div>
                                    <label class="radio">
                                        <input type="radio" name="Nivel" id="nv2" value="2">
                                        Acesso 2 (Administrativo)
                                    </label>
                                }
                            }

                            <!--TRATAR RADIOS-->

                        </div>
                    </div>
                </div>

                @Html.ValidationSummary()
                <div class="control-group">
                    <div class="form-actions">
                        @Html.ActionLink("Cancelar", "Index", "Home", htmlAttributes: new { @class = "btn" })
                        <input type="submit" value="Salvar" class="btn btn-primary" />                        
                    </div>
                </div>
            </div>
        </div>
    </div>
}